<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuwan.publication">
    <meta-data
        android:name="com.huawei.hms.client.channel.androidMarket"
        android:value="false" />

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>
    <application>
        <activity android:name=".privacy.DialogActivity"
            android:theme="@style/JiuwanSdkDialogActivityTheme"
            android:configChanges="locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection"
            android:launchMode="singleTop"/>
    </application>
</manifest>